/* ----------------------------------------------------------------
	Variables
-----------------------------------------------------------------*/

//-------------------- Base Colors --------------------//

$primaryColor: #B39DF0;
$white: #F2F2F2;
$whitePure: #ffffff;
$dark: #12181B;